<div class="m1 bg_gray">
    <div id="carouselExampleIndicators" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!-- Slide -->
            <div class="carousel-item active">
                <!-- Slide Image -->
                <div class="carousel-image" style="background-image: url('/images/hero-home-01.jpg');"></div>
                <!-- Mobile Caption -->
                <div class="caption-mobile">
                    <span class="name">LAUREN D.</span>
                    <span class="position">TEACHER AT PERRY ELEMENTARY SCHOOL</span>
                    <span class="member">member since 2002</span>
                </div>
                <!-- Message Box -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="hero-message-box">
                            <div class="hero-message">
                                <h1 class="h4">1.  Low Rates, Expert Guidance, and a Home Loan that’s just right for you.</h1>
                                <a href="#" class="link" aria-label="Learn more about SCU Low Rates">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                <div class="caption">
                                    <span class="name">LAUREN D.</span>
                                    <span class="position">TEACHER AT PERRY ELEMENTARY SCHOOL</span>
                                    <span class="member">member since 2002</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="carousel-item">
                <!-- Slide Image -->
                <div class="carousel-image" style="background-image: url('/images/hero-home-01.jpg');"></div>
                <!-- Mobile Caption -->
                <div class="caption-mobile">
                    <span class="name">LAUREN D.</span>
                    <span class="position">TEACHER AT PERRY ELEMENTARY SCHOOL</span>
                    <span class="member">member since 2002</span>
                </div>
                <!-- Message Box -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="hero-message-box">
                            <div class="hero-message">
                                <h1 class="h4">2.  Low Rates, Expert Guidance, and a Home Loan that’s just right for you.</h1>
                                <a href="#" class="link" aria-label="Learn more about SCU Low Rates">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                <div class="caption">
                                    <span class="name">LAUREN D.</span>
                                    <span class="position">TEACHER AT PERRY ELEMENTARY SCHOOL</span>
                                    <span class="member">member since 2002</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="carousel-item">
                <!-- Slide Image -->
                <div class="carousel-image" style="background-image: url('/images/hero-home-01.jpg');"></div>
                <!-- Mobile Caption -->
                <div class="caption-mobile">
                    <span class="name">LAUREN D.</span>
                    <span class="position">TEACHER AT PERRY ELEMENTARY SCHOOL</span>
                    <span class="member">member since 2002</span>
                </div>
                <!-- Message Box -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="hero-message-box">
                            <div class="hero-message">
                                <h1 class="h4">3.  Low Rates, Expert Guidance, and a Home Loan that’s just right for you.</h1>
                                <a href="#" class="link" aria-label="Learn more about SCU Low Rates">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                <div class="caption">
                                    <span class="name">LAUREN D.</span>
                                    <span class="position">TEACHER AT PERRY ELEMENTARY SCHOOL</span>
                                    <span class="member">member since 2002</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Desktop Login -->
        <%= partial "/components/_login-desktop" %>
    </div>

    <!-- M1Sub -->
    <div class="m1sub">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-6">
                    <div class="m1sub_content">
                        <div>
                            <p><strong>Access your account anytime with Mobile Banking.</strong> Deposit checks, pay bills or check your balance anytime, anywhere using your smartphone or tablet.</p>
                        </div>
                        <div>
                            <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
