<div class="m10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <iframe id="calcFrame" src="https://www.fintactix.com/schoolsfirst/tools/auto/a01" width="100%" title="Calculate a Vehicle Payment" scrolling="no" frameBorder="0"></iframe>
            </div>
        </div>
    </div>
</div>


<script>
    $(function() {
        $('#calcFrame').iFrameResize();
    });
</script>
