<div class="m11">
    <div class="scroll-section" id="auto">
        <h2>AUTO LOANS & RELATED SERVICES</h2>
        <hr>
        <h3>
            <img src="/images/icons/icon-auto-loan.svg" alt="" class="icon" aria-hidden="true">
            Auto Loans
        </h3>
        <p>There are many decisions to make when buying a car, but you don’t have to go it alone—we can help. Not only can we provide financing (for up to 100% of the purchase price, with flexible terms, and a 0.75% discount for automatic payments), but we have car buying programs that handles the price negotiation for you. If you need insurance, experienced Member Insurance Services agents will search insurance providers to find reliable coverage at the best rate possible for you.</p>

        <div class="links-column">
            <ul class="inline-links-list">
                <li>
                    <a href="#">NEW & USED AUTO LOANS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">NEW & USED MOTORCYCLES LOANS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">REFINANCE LOANS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">FIRST TIME AUTO BUYER LOAN <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">MEMBER'S CHOICE<sup>&reg;</sup> GUARANTEED ASSET <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="inline-links-list">
                <li>
                    <a href="#">PROTECTION (GAP) <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">PAYMENT SHIELD PLUS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">MEMBER'S CHOICE<sup>&reg;</sup> MECHANICAL REPAIR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">COVERAGE (MRC) <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>

        <h3>
            <img src="/images/icons/icon-auto-loan.svg" alt="" class="icon" aria-hidden="true">
            Car Buying Services
        </h3>
        <p>There are many decisions to make when buying a car, but you don’t have to go it alone—we can help. Not only can we provide financing (for up to 100% of the purchase price, with flexible terms, and a 0.75% discount for automatic payments), but we have car buying programs that handles the price negotiation for you. If you need insurance, experienced Member Insurance Services agents will search insurance providers to find reliable coverage at the best rate possible for you.</p>

        <div class="links-column">
            <ul class="inline-links-list">
                <li>
                    <a href="#">CAR BUYING SERVICES, POWERED BY TrueCar <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">AUTOLAND <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="inline-links-list">
                <li>
                    <a href="#">ENTERPRISE CAR SALES <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">FastTrack AUTO DEALERS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="scroll-section" id="checking">
        <h2>CHECKING AND SAVINGS</h2>
        <hr>
        <h3>
            <img src="/images/icons/icon-checking.svg" alt="" class="icon" aria-hidden="true">
            Checking
        </h3>
        <p>We're here to help make your car buying experience simple and stress-free. So, whether you're on a budget and looking for a great deal, or want an easy one-stop shopping and financing experience—we can help with our convenient car buying services.</p>
        <div class="links-column">
            <ul class="inline-links-list">
                <li>
                    <a href="#">FREE CHECKING <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">INVESTMENT CHECKING <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="inline-links-list">
                <li>
                    <a href="#">COMPARE OUR CHECKING OPTIONS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">BENEFITS OF A DEBIT MASTERCARD <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>

        <h3>
            <img src="/images/icons/icon-piggy-bank.svg" alt="" class="icon" aria-hidden="true">
            Savings
        </h3>
        <p>There are many decisions to make when buying a car, but you don’t have to go it alone—we can help. Not only can we provide financing (for up to 100% of the purchase price, with flexible terms, and a 0.75% discount for automatic payments), but we have car buying programs that handles the price negotiation for you. If you need insurance, experienced Member Insurance Services agents will search insurance providers to find reliable coverage at the best rate possible for you.</p>
        <div class="links-column">
            <ul class="inline-links-list">
                <li>
                    <a href="#">SHARE SAVINGS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">LIQUID ADVANTAGE MONEY MARKET <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">MY CLUD CUSTOM SAVINGS ACCOUNT <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="inline-links-list">
                <li>
                    <a href="#">JUNIOR VARSITY/VARSITY CLUB <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">COLLEGE SAVERS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">SHARE CERTIFICATES <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="scroll-section" id="investments">
        <h2>INVESTMENT, RETIREMENT & RELATED SERVICES</h2>
        <hr>
        <h3>
            <img src="/images/icons/icon-house.svg" alt="" class="icon" aria-hidden="true">
            Financial Advisors <span>(offered through CUNA Brokerage Services, Inc.)</span>
        </h3>
        <p>Our team of financial advisors provides full financial analysis and financial planning services to SchoolsFirst FCU Members. They’re experienced, licensed and registered professionals trained to design financial plans specifically tailored to your needs and objectives.<br>
        <a href="#">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
        <h3>
            <img src="/images/icons/icon-house.svg" alt="" class="icon" aria-hidden="true">
            Complimentary Workshops
        </h3>
        <p>Information and education are the most important tools available to improve financial skills. To help Members achieve their goals for the future and become better-informed consumers, SchoolsFirst FCU provides complimentary educational workshops on a broad range of topics, from saving and investing to purchasing a new auto or home. Sign up for one or more of the workshops below and enjoy learning in a relaxed atmosphere from experienced and knowledgeable SchoolsFirst FCU representatives and financial advisors.<br>
        <a href="#">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
        <h3>
            <img src="/images/icons/icon-house.svg" alt="" class="icon" aria-hidden="true">
            Tax-Deferred Investments (IRAs)
        </h3>
        <p>Information and education are the most important tools available to improve financial skills. To help Members achieve their goals for the future and become better-informed consumers, SchoolsFirst FCU provides complimentary educational workshops on a broad range of topics, from saving and investing to purchasing a new auto or home. Sign up for one or more of the workshops below and enjoy learning in a relaxed atmosphere from experienced and knowledgeable SchoolsFirst FCU representatives and financial advisors.<br>
        <a href="#">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>

        <div class="links-column">
            <ul class="inline-links-list">
                <li>
                    <a href="#">TRADITIONAL IRA <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">ROTH IRA <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">SIMPLIFIED EMPLOYEE PENSION (SEP) IRA <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>

            <ul class="inline-links-list">
                <li>
                    <a href="#">SAVINGS INVENTIVE MATCH PLAN FOR EMPLOYEES  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">SAVINGS INCENTIVE MATCH PLAN FOR EMPLOYEES IRA <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
                <li>
                    <a href="#">IRA CERTIFICATES <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sticky-stopper"></div>
