<section class="m13">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-phone.svg" alt="" class="icon" aria-hidden="true"> TELEPHONE</h2>
                    <hr>
                    <h3>Member Contact Center<br>
                        800.462.8328 or 714.258.4000</h3>
                    <p>
                        Monday - Friday: 7 a.m. - 7 p.m.<br>
                        Saturday: 9 a.m. - 3 p.m.<br>
                        Current estimated wait: <strong>2 minutes</strong>
                    </p>
                    <br>
                    <h3>TellerPhone<br>
                        800.540.4546 or 714.258.4100</h3>
                    <p>This automated telephone service is available 24/7 for many everyday transactions.</p>
                    <br>
                    <h3>Emergency Card Support<br>
                        800.462.8328 or 714.258.4000</h3>
                    <p>Available 365 days a year, from 5:00 a.m. to midnight.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-chat.svg" alt="" class="icon" aria-hidden="true"> CHAT</h2>
                    <hr>
                    <h3>Get answers to your everyday questions, quickly and easily.</h3>
                    <p>
                        Monday - Friday: 7 a.m. - 7 p.m.<br>
                        Saturday: 9 a.m. - 3 p.m.<br>
                        Current estimated wait: <strong>2 minutes</strong>
                    </p>
                    <a href="#" class="btn btn-primary">CHAT NOW  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-email.svg" alt="" class="icon" aria-hidden="true"> EMAIL</h2>
                    <hr>
                    <p>For general inquiries and feedback only; please do not include personal or financial information in your email. </p>
                    <p><a href="#"><strong>INFO@SCHOOLSFIRSTFCU.ORG</strong> <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-mail.svg" alt="" class="icon" aria-hidden="true"> MAIL</h2>
                    <hr>
                    <h3>
                        SchoolsFirst FCU<br>
                        P.O. Box 11547<br>
                        Santa Ana, CA 92711-1547
                    </h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-house.svg" alt="" class="icon" aria-hidden="true"> MORTGAGE LOAN SERVICING</h2>
                    <hr>
                    <p>Qualified Written Requests, notifications of error, or requests for information concerning your loan must be directed to: </p>
                    <h3>
                        <strong>SchoolsFirst FCU<br>
                        Attention:Loan Servicing<br>
                        15442 Newport Avenue <br>
                        Tustin, CA 92780</strong>
                    </h3>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-lock.svg" alt="" class="icon" aria-hidden="true"> SECURE MESSAGE</h2>
                    <hr>
                    <h3>Log into Online Banking to send a secure message.</h3>
                    <br>
                    <a href="#" class="btn btn-primary">COMPOSE A MESSAGE  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="content">
                    <h2><img src="/images/icons/icon-branch.svg" alt="" class="icon" aria-hidden="true"> IN PERSON</h2>
                    <hr>
                    <h3>Find a branch</h3>
                    <div class="location-search">
                        <div class="form">
                            <label for="">Your ZIP Code</label>
                            <div class="fields">
                                <input type="text">
                                <input type="submit" value="Search">
                            </div>
                        </div>
                    </div>
                    <p><a href="#"><strong>CURRENT BRANCH WAIT TIMES</strong> <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $('.m13 .content h2').matchHeight({
            byRow: true
        });
    });
</script>
