<div class="m14">
    <table class="wait_times">
        <caption class="sr-only">Current Branch Wait Times</caption>
        <tr>
            <th>Branch</th>
            <th>Current Wait Times</th>
        </tr>
        <tr>
            <td class="branch">Anaheim</td>
            <td>3 Minutes</td>
        </tr>
        <tr>
            <td class="branch">Anaheim Hills</td>
            <td><span>No Wait</span></td>
        </tr>
        <tr>
            <td class="branch">Cerritos</td>
            <td><span>No Wait</span></td>
        </tr>
        <tr>
            <td class="branch">Chino Valley</td>
            <td><span>No Wait</span></td>
        </tr>
        <tr>
            <td class="branch">Cypress</td>
            <td>14 Minutes</td>
        </tr>
        <tr>
            <td class="branch">Downey</td>
            <td>22 Minutes</td>
        </tr>
    </table>
</div>
