<div class="m15">
    <form id="cludo-search-form" role="search">
        <input type="search" class="search-input" aria-label="Search" aria-describedby="autocomplete_hint">
        <button type="submit" class="search-button" id="search-button">
            <img src="/images/icons/icon-search-white.svg" alt="">
        </button>
    </form>
    <!-- Search Results Start -->
    <div id="cludo-search-results">
        <div class="cludo-r">
            <div class="cludo-c-12" role="main">
                <div class="search-result-count"></div>
                <div class="search-did-you-mean"></div>
                <div class="search-results"></div>
            </div>
        </div>
    </div>
    <!-- Search Results End -->
</div>
