<div class="m16">
    <h2>CALCULATORS</h2>
    <hr>
    <div class="accordion" id="calculatorsAccordions">
        <div class="card">
            <div class="card-header" id="headingOne">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                    CREDIT CARDS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span>
                </button>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#calculatorsAccordions">
                <div class="card-body">
                    <ul class="calcList">
                        <li>
                            <div class="calcMeta">
                                Roth IRA | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Calculate your anticipated balance and taxable saving by contributing to a Roth IRA.</p>
                        </li>
                        <li>
                            <div class="calcMeta">
                                Roth IRA Conversion | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Understand the effects of transferring a Traditional IRA into a Roth IRA.</p>
                        </li>
                        <li>
                            <div class="calcMeta">
                                Roth vs Traditional IRA | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Which IRA is right for you? Input your age, income and anticipated age of retirement to calculate the estimated totals available with each option.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                    IRA <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span>
                </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#calculatorsAccordions">
                <div class="card-body">
                    <ul class="calcList">
                        <li>
                            <div class="calcMeta">
                                Roth IRA | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Calculate your anticipated balance and taxable saving by contributing to a Roth IRA.</p>
                        </li>
                        <li>
                            <div class="calcMeta">
                                Roth IRA Conversion | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Understand the effects of transferring a Traditional IRA into a Roth IRA.</p>
                        </li>
                        <li>
                            <div class="calcMeta">
                                Roth vs Traditional IRA| <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Which IRA is right for you? Input your age, income and anticipated age of retirement to calculate the estimated totals available with each option.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                    RETIREMENT <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span>
                </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#calculatorsAccordions">
                <div class="card-body">
                    <ul class="calcList">
                        <li>
                            <div class="calcMeta">
                                Roth IRA | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Calculate your anticipated balance and taxable saving by contributing to a Roth IRA.</p>
                        </li>
                        <li>
                            <div class="calcMeta">
                                Roth IRA Conversion | <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Understand the effects of transferring a Traditional IRA into a Roth IRA.</p>
                        </li>
                        <li>
                            <div class="calcMeta">
                                Roth vs Traditional IRA| <a href="#">CALCULATOR <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            </div>
                            <p>Which IRA is right for you? Input your age, income and anticipated age of retirement to calculate the estimated totals available with each option.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.m16 .accordion').collapse({
        toggle: true
    })
</script>
