<div class="m19">
    <h2>PROFILES</h2>
    <hr>
    <div class="profile">
        <div class="profile-meta">
            <div class="profile-photo">
                <img src="/images/profile-aaron-handfield.jpg" alt="">
            </div>
            <div class="profile-info">
                <div class="title">Aaron Handfield</div>
                <p>Anaheim Hills, Chino Valley, Riverside &mdash; Riverwalk</p>
                <p>800.462.8328, Ext. 4116, Option 2<br>
                <a href="mailto:investments@schoolsfirstfcu.org">investments@schoolsfirstfcu.org</a></p>
                <p>Check the background of this investment professional on FINRA's BrokerCheck</p>
            </div>
        </div>
        <div class="profile-content">
            <p>Helping investors plan for their futures is something Aaron takes to heart. Since 2002, he’s enjoyed advising Members at SchoolsFirst FCU because of the World-Class Personal Service he’s able to provide. “My goal when working with new investors or experienced ones is to help them understand their plan and why it is working to accomplish their goals. If their current plan is solid, we won’t make changes. I think this comes as a pleasant surprise.”</p>
            <p>Aaron is a fully registered and licensed investment and retirement planning professional. He’s registered to sell securities and holds a California Life/Health Insurance License.</p>
            <p>In his spare time, Aaron enjoys working around the house and boating along the California coast and Big Bear Lake.  </p>
            <p>To make an appointment with Aaron, call 800.462.8328, Ext. 4116, Option 2.</p>
            <p>Securities sold, advisory services offered through CUNA Brokerage Services, Inc. (CBSI), member FINRA/SIPC, a registered broker/dealer and investment advisor. CBSI is under contract with SchoolsFirst FCU to make securities available to members. Not NCUA/NCUSIF/FDIC insured, may lose value, no financial institution guarantee. Not a deposit of any financial institution. CUNA Brokerage Services, Inc., is a registered broker/dealer in all fifty states of the United States of America.</p>
            <p>CA Insurance License 0H19850</p>
        </div>
    </div>
    <div class="profile">
        <div class="profile-meta">
            <div class="profile-photo">
                <img src="/images/profile-aaron-handfield.jpg" alt="">
            </div>
            <div class="profile-info">
                <div class="title">Aaron Handfield</div>
                <p>Anaheim Hills, Chino Valley, Riverside &mdash; Riverwalk</p>
                <p>800.462.8328, Ext. 4116, Option 2<br>
                <a href="mailto:investments@schoolsfirstfcu.org">investments@schoolsfirstfcu.org</a></p>
                <p>Check the background of this investment professional on FINRA's BrokerCheck</p>
            </div>
        </div>
        <div class="profile-content">
            <p>Helping investors plan for their futures is something Aaron takes to heart. Since 2002, he’s enjoyed advising Members at SchoolsFirst FCU because of the World-Class Personal Service he’s able to provide. “My goal when working with new investors or experienced ones is to help them understand their plan and why it is working to accomplish their goals. If their current plan is solid, we won’t make changes. I think this comes as a pleasant surprise.”</p>
            <p>Aaron is a fully registered and licensed investment and retirement planning professional. He’s registered to sell securities and holds a California Life/Health Insurance License.</p>
            <p>In his spare time, Aaron enjoys working around the house and boating along the California coast and Big Bear Lake.  </p>
            <p>To make an appointment with Aaron, call 800.462.8328, Ext. 4116, Option 2.</p>
            <p>Securities sold, advisory services offered through CUNA Brokerage Services, Inc. (CBSI), member FINRA/SIPC, a registered broker/dealer and investment advisor. CBSI is under contract with SchoolsFirst FCU to make securities available to members. Not NCUA/NCUSIF/FDIC insured, may lose value, no financial institution guarantee. Not a deposit of any financial institution. CUNA Brokerage Services, Inc., is a registered broker/dealer in all fifty states of the United States of America.</p>
            <p>CA Insurance License 0H19850</p>
        </div>
    </div>
</div>
