<div class="m1 m1b">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="auto">
                <!-- Desktop Message Box -->
                <div class="hero-message-box">
                    <h1>CONTACT US</h1>
                    <div class="caption">
                        <span class="name">LAUREN D.</span>
                        <span class="position">HIGH SCHOOL TEACHER</span>
                        <span class="member">member since 2002</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Caption -->
    <div class="caption-mobile">
        <span class="name">LAUREN D.</span>
        <span class="position">HIGH SCHOOL TEACHER</span>
        <span class="member">member since 2002</span>
    </div>
    <!-- Hero Background Image -->
    <div class="hero-image" style="background-image: url('/images/hero-sub.jpg');"></div>
</div>
