<section class="m2 bg_gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-3">
                <div class="news_info">
                    <h2>NEWS & INFORMATION</h2>
                    <ul>
                        <li>
                            <a href="#">What To Do If You Suspect Fraud <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#">Apple Pay for Credit Cards <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#">the switch from Visa to MasterCard<sup>®</sup> <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#">Current Branch Wait Times <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#">Request a donation <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-xl-9">
                <div class="latest_rates">
                    <div class="latest_rates_header">
                        <div>
                            <h2>TODAY'S RATES</h2>
                        </div>
                        <div>
                            <a href="#">SEE CURRENT RATE SHEETS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <!-- Rates Tabs -->
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">
                                <!-- Tab Top -->
                                <div class="tab_top">
                                    <div class="icon">
                                        <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                    </div>
                                    AUTO LOANS
                                </div>
                                <!-- Tab Bottom -->
                                <div class="tab_bottom">
                                    As low as <span>1.59<sup>%</sup></span> APR
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">
                                <!-- Tab Top -->
                                <div class="tab_top">
                                    <div class="icon">
                                        <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                    </div>
                                    MORTGAGE
                                </div>
                                <!-- Tab Bottom -->
                                <div class="tab_bottom">
                                    As low as <span>1.59<sup>%</sup></span> APR
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">
                                <!-- Tab Top -->
                                <div class="tab_top">
                                    <div class="icon">
                                        <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                    </div>
                                    CREDIT CARD
                                </div>
                                <!-- Tab Bottom -->
                                <div class="tab_bottom">
                                    As low as <span>1.59<sup>%</sup></span> APR
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-C" href="#pane-D" class="nav-link" data-toggle="tab" role="tab">
                                <!-- Tab Top -->
                                <div class="tab_top">
                                    <div class="icon">
                                        <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                    </div>
                                    MONEY MARKET
                                </div>
                                <!-- Tab Bottom -->
                                <div class="tab_bottom">
                                    As low as <span>1.59<sup>%</sup></span> APR
                                </div>
                            </a>
                        </li>
                    </ul>

                    <!-- Tabs Content -->
                    <div id="content" class="tab-content" role="tablist">
                        <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                            <!-- Accordion Trigger -->
                            <div class="card-header" role="tab" id="heading-A">
                                <a data-toggle="collapse" href="#collapse-A" data-parent="#content" aria-expanded="true" aria-controls="collapse-A">
                                    <div class="name">
                                        <div class="icon">
                                            <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                        </div>
                                        <span>AUTO LOANS</span>
                                    </div>
                                    <div class="rate">
                                        As low as <span>1.59<sup>%</sup></span> APR
                                    </div>
                                </a>
                            </div>
                            <!-- Tab Content -->
                            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body">
                                    <div class="card-body-content">
                                        <h3>36-Month New</h3>
                                        <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get preapproved and visit the dealer with your financing in hand.</p>
                                    </div>
                                    <div class="card-body-links">
                                        <ul>
                                            <li>
                                                <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn btn-primary">APPLY FOR LOAN  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                            <div class="card-header" role="tab" id="heading-B">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-B" data-parent="#content" aria-expanded="false" aria-controls="collapse-B">
                                    <div class="name">
                                        <div class="icon">
                                            <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                        </div>
                                        <span>MORTGAGE</span>
                                    </div>
                                    <div class="rate">
                                        As low as <span>1.59<sup>%</sup></span> APR
                                    </div>
                                </a>
                            </div>
                            <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body">
                                    <div class="card-body-content">
                                        <h3>36-Month New</h3>
                                        <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get preapproved and visit the dealer with your financing in hand.</p>
                                    </div>
                                    <div class="card-body-links">
                                        <ul>
                                            <li>
                                                <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn btn-primary">APPLY FOR LOAN <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                            <div class="card-header" role="tab" id="heading-C">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content" aria-expanded="false" aria-controls="collapse-C">
                                    <div class="name">
                                        <div class="icon">
                                            <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                        </div>
                                        <span>CREDIT CARD</span>
                                    </div>
                                    <div class="rate">
                                        As low as <span>1.59<sup>%</sup></span> APR
                                    </div>
                                </a>
                            </div>
                            <div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
                                <div class="card-body">
                                    <div class="card-body-content">
                                        <h3>36-Month New</h3>
                                        <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get preapproved and visit the dealer with your financing in hand.</p>
                                    </div>
                                    <div class="card-body-links">
                                        <ul>
                                            <li>
                                                <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn btn-primary">APPLY FOR LOAN <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
                            <div class="card-header" role="tab" id="heading-D">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-D" data-parent="#content" aria-expanded="false" aria-controls="collapse-D">
                                    <div class="name">
                                        <div class="icon">
                                            <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                                        </div>
                                        <span>MONEY MARKET</span>
                                    </div>
                                    <div class="rate">
                                        As low as <span>1.59<sup>%</sup></span> APR
                                    </div>
                                </a>
                            </div>
                            <div id="collapse-D" class="collapse" role="tabpanel" aria-labelledby="heading-D">
                                <div class="card-body">
                                    <div class="card-body-content">
                                        <h3>36-Month New</h3>
                                        <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get preapproved and visit the dealer with your financing in hand.</p>
                                    </div>
                                    <div class="card-body-links">
                                        <ul>
                                            <li>
                                                <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn btn-primary">APPLY FOR LOAN <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
