<div class="m5 bg_white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="intro">
                    <h2>FINANCIAL EDUCATION</h2>
                    <p>
                        <a href="#">SEE ALL PRODUCTS & SERVICES <span class="oi oi-external-link" aria-hidden="true"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img src="/images/m5-sample-01.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Financial Education Workshops</h3>
                        <a class="link" href="#">SIGN UP <span class="oi oi-external-link" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img src="/images/m5-sample-02.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">What To Do If You Suspect Fraud</h3>
                        <a class="link" href="#">READ ON BLOG <span class="oi oi-external-link" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img src="/images/m5-sample-03.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Traveling? Protect Your Home</h3>
                        <a class="link" href="#">READ ON BLOG <span class="oi oi-external-link" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
