<div class="m6">
    <div id="member-spotlight" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#member-spotlight" data-slide-to="0" class="active"></li>
            <li data-target="#member-spotlight" data-slide-to="1"></li>
            <li data-target="#member-spotlight" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slide-image" style="background-image: url('/images/member-spotlight.jpg')"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="quote">
                                <blockquote>
                                    <p>1. SchoolsFirst Federal Credit Union truly takes care of my family and they always come through for us. It was such a great experience and I will never forget it."</p>
                                    <div class="footer">
                                        <strong>MARCUS J.</strong><br>
                                        ELEMENTARY SCHOOL TEACHER<br>
                                        MEMBER SINCE 2004
                                    </div>
                                </blockquote>
                                <div class="cta">
                                    <a class="link" href="#">READ MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide-image" style="background-image: url('/images/member-spotlight.jpg')"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="quote">
                                <blockquote>
                                    <p>2. SchoolsFirst Federal Credit Union truly takes care of my family and they always come through for us. It was such a great experience and I will never forget it."</p>
                                    <div class="footer">
                                        <strong>MARCUS J.</strong><br>
                                        ELEMENTARY SCHOOL TEACHER<br>
                                        MEMBER SINCE 2004
                                    </div>
                                </blockquote>
                                <div class="cta">
                                    <a class="link" href="#">READ MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide-image" style="background-image: url('/images/member-spotlight.jpg')"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="quote">
                                <blockquote>
                                    <p>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint neque, minima repudiandae voluptatem error aspernatur consectetur architecto a, quae non incidunt."</p>
                                    <div class="footer">
                                        <strong>MARCUS J.</strong><br>
                                        ELEMENTARY SCHOOL TEACHER<br>
                                        MEMBER SINCE 2004
                                    </div>
                                </blockquote>
                                <div class="cta">
                                    <a class="link" href="#">READ MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
