<section class="m7 bg_gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="card card-search">
                    <div class="card-body">
                        <h3 class="card-title">28,000 ATM Locations</h3>
                        <p>Search fee-free ATMs in the SchoolsFirst FCU and CO-OP ATM Networks.</p>
                        <div class="location-search">
                            <div class="form">
                                <label for="">Your ZIP Code</label>
                                <div class="fields">
                                    <input type="text">
                                    <input type="submit" value="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Refer Family or Friends</h3>
                        <p>Invite your immediate family and eligible colleagues to join SchoolsFirst Federal Credit Union!</p>
                        <div class="cta">
                            <a class="link" href="#">MAKE A REFERAL <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Not a Member?</h3>
                        <p>Invite your immediate family and eligible colleagues to join SchoolsFirst Federal Credit Union!</p>
                        <div class="cta">
                            <a class="link" href="#">RESUME APPLICATION <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                            <a class="link" href="#">JOIN NOW <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
