<div class="m8">
    <p>Our investment checking account is designed for Members who are interested in earning dividends on their account balance and consistently maintain a balance of at least $1,000 between all their shares. </p>
    <p><a class="link" href="#">MAKE A REFERAL <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
    <br>

    <h3>
        <img src="/images/icons/icon-checking.svg" alt="" class="icon">
        Free Checking
    </h3>
    <p>No monthly fee, no minimum monthly balance requirement and unlimited check writing.</p>
    <p><a class="link" href="#">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>

    <br>
    <h3>
        <img src="/images/icons/icon-checking.svg" alt="" class="icon">
        Investment Checking
    </h3>
    <img class="alignright" src="/images/inline-image-sample.jpg" alt="">
    <p>There are many decisions to make when buying a car, but you don’t have to go it alone—we can help.  Not only can we provide financing (for up to 100% of the purchase price, with flexible terms, and a 0.75% discount for automatic payments), but we have car buying programs that handles the price negotiation for you. If you need insurance, experienced Member Insurance Services agents will search insurance providers to find reliable coverage at the best rate possible for you.</p>
    <p>There are many decisions to make when buying a car, but you don’t have to go it alone—we can help.  Not only can we provide financing (for up to 100% of the purchase price, with flexible terms, and a 0.75% discount for automatic payments), but we have car buying programs that handles the price negotiation for you. If you need insurance, experienced Member Insurance Services agents will search insurance providers to find reliable coverage at the best rate possible for you.</p>
    <p><a class="link" href="#">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
    <p><a class="link" href="#">COMPARE OUR CHECKING OPTIONS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
    <br><br>
    <h2>OPEN AN ACCOUNT</h2>
    <hr>
    <p>Our investment checking account is designed for Members who are interested in earning dividends on their account balance and consistently maintain a balance of at least $1,000 between all their shares. </p>
    <ul>
        <li>$25 minimum opening deposit4</li>
        <li>Account verification by ChexSystems, Inc.</li>
        <li>18 years of age or older</li>
    </ul>
    <br>
    <h3>Flexibility</h3>
    <p>Our investment checking account is designed for Members who are interested in earning dividends on their account balance and consistently maintain a balance of at least $1,000 between all their shares. </p>
    <ol>
        <li>Earns tiered dividends based on your account balance</li>
        <li>Earns <a href="#"><strong>Member Rewards</strong></a> points for every transaction and Swype Merchant Rebates with a <a href="#"><strong>Debit MasterCard</strong><sup>&reg;</sup></a></li>
        <li>Unlimited check writing</li>
    </ol>
    <br>
    <h3>Fees</h3>
    <p>$3 monthly fee, waived if you meet one of the following requirements:</p>
    <ul>
        <li>Have a direct deposit of at least $1 and a daily minimum combined share balance of $1,000<sup>1</sup></li>
        <li>Have a combined share balance of $2,500<sup>2</sup></li>
        <li>Is 62 years old or older and the Primary Member on the account</li>
    </ul>
    <br>
    <h3>Call 800.462.8328</h3>
    <p>
        Monday - Friday: 7 a.m. - 7 p.m.<br>
        Saturday: 9 a.m. - 3 p.m.
    </p>
    <br>
    <h3>Visit</h3>
    <p><a class="link" href="#">ANY SCHOOLSFIRST FCU BRANCH <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>

    <!-- Disclosures -->
    <%= partial "/modules/_m9" %>

    <p>The current estimated wait times shown below are for non-teller services such as new Memberships, loan applications, card services, etc.</p>

    <!-- Branch Wait Times -->
    <%= partial "/modules/_m14" %>

    <br>
    <!-- Forms -->
    <%= partial "/modules/_m17-donations-form" %>

</div>
