<div class="m9">
    <div class="title">Disclosures</div>
    <ol>
        <li>Direct deposit amount must be at least $1.00</li>
        <li>Monthly service charge of $3 when direct deposit and/or minimum share balance requirements are not met.</li>
        <li>$1 charge for each additional withdrawal (waived for school employees). Other financial institutions or merchants may charge for use of their ATM or POS terminal.</li>
        <li>Waived for school employees or with direct deposit set up.</li>
        <li>APY is accurate as of the last dividend declaration date, and subject to change. Variable rate account subject to change after account opening. Fees could reduce the earnings on the account.</li>
    </ol>
    <ul class="list">
        <li>
            <a href="#">Disclosure & Agreement of Terms and Conditions</a>
        </li>
        <li>
            <a href="#">Statement of Fees</a>
        </li>
        <li>
            <a href="#">MasterCard Benefit Guide for Debit Cardholders</a>
        </li>
    </ul>
</div>
