<div class="sb sb1">
    <div class="title">
        <h3>Related Content</h3>
    </div>
    <ul class="list_links">
        <li>
            <a href="#">APPLY FOR A LOAN <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
        </li>
        <li>
            <a href="#">RETIREMENT & INVESTOR SERVICES <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
        </li>
        <li>
            <a href="#">WORKSHOPS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
        </li>
        <li>
            <a href="#">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
        </li>
        <li>
            <a href="#">STATEMENT OF FEES <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>
