<div class="sb sb2">
    <div class="photo image_fit">
        <img src="/images/sb2-member.jpg" alt="wcag image description">
    </div>
    <div class="quote">
        <blockquote>
            <p>I believe in value, service, integrity and kindness — I get all four of those every day at SchoolsFirst FCU."</p>
            <div class="footer">
                <strong>MARCUS J.</strong><br>
                ELEMENTARY SCHOOL TEACHER<br>
                MEMBER SINCE 2004
            </div>
        </blockquote>
        <a href="#">READ MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
    </div>
</div>
