<div class="sb sb3">
    <div class="sidebar-content">
        <h3>Today’s Rates</h3>
        <hr>
        <p><a href="#">SEE CURRENT RATE SHEETS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a></p>
    </div>
    <div class="accordion" id="sidebar-rates">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <!-- Accordion Top -->
                        <div class="button_top">
                            <div class="icon">
                                <img src="/images/icons/icon-auto-loan.svg" alt="" aria-hidden="true">
                            </div>
                            AUTO LOANS <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                        </div>
                        <!-- Accordion Bottom -->
                        <div class="button_bottom">
                            As low as <span>1.59<sup>%</sup></span> APR
                        </div>
                    </button>
                </h4>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#sidebar-rates">
                <div class="card-body">
                    <h3>36-month New</h3>
                    <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get pre-approved and visit the dealer with your financing in hand.</p>
                    <br>
                    <hr>
                    <ul class="links">
                        <li>
                            <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary">APPLY FOR LOAN  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h4 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <!-- Accordion Top -->
                        <div class="button_top">
                            <div class="icon">
                                <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                            </div>
                            30-YR Mortgage <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                        </div>
                        <!-- Accordion Bottom -->
                        <div class="button_bottom">
                            As low as <span>1.74<sup>%</sup></span> APR
                        </div>
                    </button>
                </h4>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#sidebar-rates">
                <div class="card-body">
                    <h3>36-month New</h3>
                    <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get pre-approved and visit the dealer with your financing in hand.</p>
                    <br>
                    <hr>
                    <ul class="links">
                        <li>
                            <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary">APPLY FOR LOAN  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h4 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <!-- Accordion Top -->
                        <div class="button_top">
                            <div class="icon">
                                <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                            </div>
                            Credit Cards <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                        </div>
                        <!-- Accordion Bottom -->
                        <div class="button_bottom">
                            As low as <span>8.75<sup>%</sup></span> APR
                        </div>
                    </button>
                </h4>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#sidebar-rates">
                <div class="card-body">
                    <h3>36-month New</h3>
                    <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get pre-approved and visit the dealer with your financing in hand.</p>
                    <br>
                    <hr>
                    <ul class="links">
                        <li>
                            <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary">APPLY FOR LOAN  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h4 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <!-- Accordion Top -->
                        <div class="button_top">
                            <div class="icon">
                                <img src="/images/icons/icon-home-loan.svg" alt="" aria-hidden="true">
                            </div>
                            Money Market <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                        </div>
                        <!-- Accordion Bottom -->
                        <div class="button_bottom">
                            As low as <span>0.03<sup>%</sup></span> APR
                        </div>
                    </button>
                </h4>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#sidebar-rates">
                <div class="card-body">
                    <h3>36-month New</h3>
                    <p>We offer a range of competitive rates and flexible terms to fit almost every financial situation. Get pre-approved and visit the dealer with your financing in hand.</p>
                    <br>
                    <hr>
                    <ul class="links">
                        <li>
                            <a href="#" class="link">LEARN MORE <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                        <li>
                            <a href="#" class="link">CALCULATORS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary">APPLY FOR LOAN  <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.sb3 .accordion').collapse({
        toggle: true
    })
</script>
