<div class="sb sb4">
    <h3>Why Use Online Banking</h3>
    <p><strong>24/7 access to:</strong></p>
    <ul>
        <li>Paying bills online</li>
        <li>Transferring funds</li>
        <li>Don't share your Account Number or password</li>
        <li>Opening additional share accounts</li>
        <li>Viewing cleared checks</li>
        <li>Ordering checks</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe impedit maiores quas dolor, repudiandae autem recusandae corporis necessitatibus nihil odio accusamus dignissimos deserunt. Veritatis repellat animi cumque at, maiores quidem.</p>
</div>
