---
layout: training
title: SchoolsFirst BB Training Videos
---

<section class="video-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Product Category Page</h2>
                <video controls>
                    <source src="product_category_page.mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
        </div>
    </div>
</section>
