<div class="login_container">
    <div class="row">
        <div class="login_desktop">
            <div class="login_desktop_header">
                View Your Accounts
            </div>
            <div class="login_controls">
                <form id="loginForm" name="loginForm" method="POST" action="">
                    <div class="form-group">
                        <label for="memberID">User Name</label>
                        <input id="memberID" autocomplete="off" name="number" type="text" aria-describedby="memberID">
                        <a href="#" class="help_link">Forgot User Name <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                    </div>
                    <div class="form-group">
                        <label for="loginMemberPwd">Password</label>
                        <input id="loginMemberPwd" value="" autocomplete="off" name="loginMemberPwd" type="password" aria-describedby="loginMemberPwd">
                        <a href="#" class="help_link">Forgot Password <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm">LOG IN <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></button>
                </form>
            </div>
            <div class="login_links">
                <ul>
                    <li>
                        <a href="#">SIGN UP FOR ACCESS <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#">BECOME A MEMBER <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#">RESUME APPLICATION <span class="oi oi-chevron-right" title="icon chevron-right" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
