/*
Project Name: SchoolsFirst Credit Union
Author: Pasquale Scerbo
Author URI: https://extractable.com
Description: SchoolsFirst Public Site
Version: 1.0
*/

/* Custom Bootstrap Reset */
@import 'scss/bootstrap/_bootstrap-reset';
@import 'scss/bootstrap/_custom-variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'scss/bootstrap/_open-iconic-bootstrap';
@import 'scss/bootstrap/_custom-styles';

//Helpers
@import 'scss/helpers/_mixin';

//Costum Bootstrap
@import 'scss/bootstrap/_bootstrap-custom';

//Components
//@import url("bootstrap-datepicker.css");
@import 'scss/components/_login-desktop';
@import 'scss/components/_skip-links';
@import 'scss/components/_forms';

//Global
@import 'scss/global/_type';
@import 'scss/global/_global';
@import 'scss/global/_intro';

@import 'scss/global/_header';
@import 'scss/global/_footer';

//Modules
@import 'scss/modules/_grid';

@import 'scss/modules/_g3';
@import 'scss/modules/_g4';

@import 'scss/modules/_m1';
@import 'scss/modules/_m2';
@import 'scss/modules/_m3';
@import 'scss/modules/_m4';
@import 'scss/modules/_m5';
@import 'scss/modules/_m6';
@import 'scss/modules/_m7';
@import 'scss/modules/_m8';
@import 'scss/modules/_m9';

@import 'scss/modules/_m12';

@import 'scss/modules/_m14';
@import 'scss/modules/_m17';

//Sidebars
@import 'scss/modules/_sidebar';
@import 'scss/modules/_sb1';
@import 'scss/modules/_sb2';

@import 'scss/modules/_sb4';
