<!doctype html>
<html>
    <head>
        <!-- Global Head -->
        <%= partial "/partials/_head" %>
    </head>

    <body>

        <!-- Site Layouts / Modules -->
        <%= yield %>

        <!-- Footer Scripts -->
        <%= partial "/partials/_foot" %>
    </body>
</html>
