.m12 {
    padding: 40px 0;
    background: $white;

    h1, .h1 {
        color: $primary-2;
        font-weight: 300;
        @include font-size(36px);
    }

    h2, .h2 {
        color: $primary-2;
        font-weight: 300;
        /*@include font-size(24px);*/
        @include font-size(18px);
    }

    h3, .h3 {
        color: $primary-2;
        font-weight: 700;
        @include font-size(20px);
        margin-bottom: 10px;
    }

    h4, .h4 {
        color: $black;
        font-weight: 700;
        @include font-size(18px);
        margin-bottom: 20px;
    }

    p, ul, ol {
        @include font-size(14px);
    }

    ul, ol {
        padding-left: 20px;
        li {
            margin-bottom: 6px;
        }
    }

    sup {
        font-weight: 400;
        padding-left: 3px;
    }

    .intro {
        text-align: left;
        border-bottom: 4px solid $primary-2;
        margin-bottom: 40px;

        h1, h1 {
            /*margin-bottom: 25px;*/
            margin-bottom: 15px;
        }

        h2, .h2 {
            /*margin-bottom: 40px;*/
            margin-bottom: 25px;
        }
    }

    .rates-content {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
            @include make-col(12);
        }
        margin-bottom: 20px;
    }

    .rates-table {
        @include make-col-ready();
        @include media-breakpoint-up(lg) {
            @include make-col(12);
        }
        margin-bottom: 40px;

        .rates-table-content {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .disclosures {
        padding-top: 20px;
        color: #595959;

        @include media-breakpoint-up(lg) {
            @include make-col(8);
        }
        @include font-size(12px);
        p {
            color: #595959;
            @include font-size(12px);
            line-height: 1.8em;
        }

        h3 {
            color: $black;
            @include font-size(16px);
        }

        h4 {
            color: $black;
            @include font-size(14px);
            margin-bottom: 10px;
        }

        ul, ol {
            @include font-size(12px);
        }
    }

    hr {
        margin: 30px 0 30px 0;
        padding: 0;
        width: 100%;
        height: 1px;
        border: 0;
        background: $primary-2;
    }

    table {
        border: 1px solid $table-border-outer;
        border-top: 0;
        width: 100%;
        table-layout: fixed !important;

        thead {
            background: $table-header-bg;
            border-top: 1px solid $table-border-outer;

        }

        th, td {
            @include font-size(14px);
            color: $black;
        }

        th {
            padding: 12px;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            &[scope=row],
            &[scope=rowgroup] {
                border-right: 1px solid $table-border;
            }
        }

        td {
            padding: 20px;
            font-weight: 700;
            text-align: center;
            vertical-align: center;
            border-right: 1px solid $table-border;
            &:last-child {
                border-right: 0;
            }
        }

        tbody {
            border-bottom: 1px solid $table-border-outer;
            tr {
                border-bottom: 1px solid $table-border;
                &:last-child {
                    border-bottom: 1px solid $table-border-outer;
                }
                &:last-child th {
                    border-bottom: 0px solid $table-border-outer;
                }
            }
        }

        .desc {
            font-weight: 400;
            padding-top: 5px;
            display: block;
            font-size: 12px;
            &.text-left {
                text-align: left;
            }
        }

        p:last-of-type {
            margin-bottom: 0;
        }


        &.table-desktop {
            caption {
                caption-side: top;
            }
            th {
                &[scope=col] {
                    background: $table-header-bg;
                }
                &[scope=row], &[scope=rowgroup] {
                    border-right: 1px solid $table-border;
                    font-weight: 700;
                }
            }
        }

        &.table-mobile {
            thead {
                border-top: 1px solid $table-border-outer;
                th {
                    text-align: center;
                    background: $table-header-bg;
                    border-bottom: 0;
                }
            }
            tr {
                border: 0;
                &.center {
                    td {
                        text-align: center;
                        border-right: 0;
                    }
                }
            }
            th, td {
                text-align: left;
                vertical-align: top;
                padding: 10px 10px 15px 10px;
            }
            tbody {
                border-top: 0;
            }
            [scope=colgroup] {
                text-align: center;
                // border-top: 1px solid $table-border;
                font-weight: 700;
                border-bottom: 1px solid $table-border-mobile;
            }
            [scope=row] {
                font-weight: 300;
                background: $white;
            }
            [scope=col]{
                text-align: center;
            }
        }

        @include media-breakpoint-up(lg) {
            &.table-mobile {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            &.table-desktop {
                display: none;
            }
        }

    }

    //Table Layouts
    [data-rate=table-layout-1] {
        .table-mobile {
            th[scope=row] {
                border-right: 0
            }
            th[scope=colgroup],
            td[scope=colgroup] {
                border-top: 1px solid $table-border-mobile;
                padding-top: 20px;
            }
            tbody tr:first-of-type th,
            tbody tr:first-of-type td {
                border-top: 0;
            }
        }
    }

    [data-rate=table-layout-2] {
        .table-mobile {
            th[scope=row] {
                border-right: 0
            }
            td[scope=colgroup] {
                padding-top: 20px;
                border-top: 1px solid $table-border-mobile;
            }
            tbody tr:first-of-type td {
                border-top: 0;
            }
        }
    }

    [data-rate=table-layout-3] {
        .table-desktop {
            tbody tr th.last {
                border-bottom: 1px solid $table-border-outer;
            }
        }
        .table-mobile {
            border-bottom: 1px solid $table-border-outer;
            [scope=colgroup] {
                border-bottom: 0;
                padding-top: 20px;
                padding-bottom: 15px;
            }
            [scope=col] {
                vertical-align: middle;
                border-bottom: 1px solid $table-border-mobile;
            }
            .center {
                border-bottom: 1px solid $table-border-mobile;
            }
            tbody tr:last-child {
                border-bottom: 1px solid $table-border-outer;
            }
        }
    }

    [data-rate=table-layout-4] {
        .table-mobile {
            th[scope=colgroup] {
                border-top: 1px solid $table-border-mobile;
            }
            tr:first-of-type th[scope=colgroup] {
                border-top: 0;
            }
            [scope=col] {
                text-align: left;
            }



        }
    }

    [data-rate=table-layout-5] {
        .table-desktop {
            tbody tr:nth-last-child(2) th  {
                border-bottom: 1px solid $table-border-outer;
                &[scope=row] {
                    border-bottom: 1px solid $table-border;
                }
            }

            tbody {
                th[scope=row] {
                    font-weight: 400;
                    text-align: left;
                }
            }
        }
        .table-mobile {
            [scope=colgroup] {
                border-bottom: 0;
                padding-top: 20px;
            }
            [scope=col] {
                border-bottom: 1px solid $table-border-mobile;
                vertical-align: middle;
            }
            td {
                border-right: 0;
                text-align: center;
                border-bottom: 1px solid $table-border-mobile;
            }

            tr:last-of-type td {
                border-bottom: 1px solid $table-border;
            }
        }
    }

    [data-rate=table-layout-6] {
        .table-desktop {
            tbody tr th.last  {
                border-bottom: 1px solid $table-border-outer;
                &[scope=row] {
                    border-bottom: 1px solid $table-border;
                }
            }
        }

        .table-mobile {
            tbody {
                th[scope=row] {
                    border-right: 0;
                }
                tr {
                    td {
                        border-right: 0;
                    }
                    th[scope=colgroup] {
                        border-top: 1px solid $table-border-mobile;
                    }
                    &:first-of-type th[scope=colgroup] {
                        border-top: 0;
                    }
                }
            }
        }
    }

    [data-rate=table-layout-7] {
        .table-mobile {
            [scope=colgroup] {
                border-bottom: 0;
                padding-top: 20px;
                border-top: 1px solid $table-border-mobile;
            }
            tr:first-of-type th[scope=colgroup] {
                border-top: 0;
            }
            [scope=col] {
                vertical-align: middle;
                border-bottom: 1px solid $table-border-mobile;
            }
            td {
                text-align: center;
                border-right: 0;
                border-bottom: 1px solid $table-border-mobile;
            }

            tr:last-of-type td {
                border-bottom: 1px solid $table-border;
            }
        }
    }

    [data-rate=table-layout-8] {
        .table-desktop {
            [scope=colgroup] {
                background: $table-header-bg;
            }

            th.subRow {
                font-weight: 400;
                padding: {
                    top: 8px;
                    bottom: 8px;
                }
            }

            td.subRow {
                padding: {
                    top: 8px;
                    bottom: 8px;
                }
            }

            tr:nth-last-child(4) th[rowspan],
            tr:nth-last-child(4) td  {
                border-bottom: 1px solid $table-border-outer;
            }
        }

        .table-mobile {
            tbody {
                tr th[scope=row] {
                    border-right: 0;
                }
                tr {
                    th[scope=colgroup] {
                        border-top: 1px solid $table-border-mobile;
                        padding-top: 20px;
                    }
                    &:first-of-type th[scope=colgroup] {
                        border-top: 0;
                    }
                    th[scope=col] {
                        padding: {
                            top: 10px;
                            bottom: 10px;
                        }
                    }
                }
                tr td,
                tr th {
                    padding: {
                        top: 7px;
                        bottom: 7px;
                    }
                }
            }

            [scope=col], td {
                text-align: left;
            }

            .subTitle {
                border-top: 1px solid $table-border-mobile;
                font-weight: 300;
            }
        }
    }

    [data-rate=table-layout-9] {
        .table-mobile {
            [scope=colgroup] {
                background: $table-header-bg;
                border-bottom: 0;
            }
            tbody {
                border-top: 0;
                .subRow {
                    text-align: center;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $table-border-mobile;
                }

                tr th[scope=row] {
                    border-right: 0;
                }

                tr td,
                tr th {
                    padding: {
                        top: 10px;
                        bottom: 2px;
                    }
                }

                tr:last-of-type th {
                    padding-bottom: 10px;
                }

            }

        }
    }

    [data-rate=table-layout-10] {
        .table-mobile {
            thead {
                [scope=colgroup] {
                    background: $table-header-bg;
                    border-bottom: 0;
                }
            }

            [scope=col],
            [scope=colgroup] {
                border-top: 1px solid $table-border;
                text-align: left;
                padding-bottom: 0;
            }

            .subTitle {
                font-weight: 700;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 15px;
            }

            tbody {
                border-top: 0;
                tr:first-child th {
                    border-top: 0 !important;
                }

                [scope=col],
                [scope=colgroup] {
                    border-top: 1px solid $table-border-mobile;
                }

                th[scope=row] {
                    border-right: 0;
                }

                tr td,
                tr th {
                    padding: {
                        top: 7px;
                        bottom: 7px;
                    }
                }
            }
        }
    }

    [data-rate=table-layout-11] {
        .table-mobile {
            tbody {
                tr {
                    th[scope=colgroup] {
                        border-bottom: 0;
                        padding-bottom: 5px;
                        border-top: 1px solid $table-border-mobile;
                    }
                    &:first-of-type th[scope=colgroup] {
                        border-top: 0;
                    }
                }

                [scope=col] {
                    padding: 10px 10px 15px 10px;
                    vertical-align: middle;
                }
            }

            td {
                border-right: 0;
                text-align: center;
                //padding: 5px;
                border-top: 1px solid $table-border-mobile;
                vertical-align: middle;
            }
        }
    }

    [data-rate=table-layout-12] {
        .table-mobile {
            /*
            [scope=col] {
                border-top: 1px solid $table-border;
                text-align: left;
                padding-bottom: 0;
            }
            */

            .subTitle {
                font-weight: 700;
                text-align: center;
                padding-bottom: 10px;
            }

            tbody {
                th[scope=row] {
                    border-right: 0;
                }

                [scope=col] {
                    text-align: left;
                    border-top: 1px solid $table-border-mobile;
                    padding-bottom: 0;
                }

                tr {
                    th[scope=colgroup] {
                        border-top: 1px solid $table-border-mobile;
                    }
                    &:first-of-type th[scope=colgroup] {
                        border-top: 0;
                    }
                }
            }

        }
    }

    [data-rate=table-layout-13] {
        .table-mobile {
            tr {
                th[scope=row] {
                    border-right: 0;
                }
            }

            [scope=col] {
                border-top: 1px solid $table-border-mobile;
                text-align: left;
                padding-bottom: 0;
            }

            th[scope=colgroup] {
                padding: {
                    top: 15px;
                    bottom: 15px;
                }
            }

            th.sub {
                font-weight: 700;
                text-align: center;
                padding: {
                    top: 15px;
                    bottom: 15px;
                }
                border-bottom: 1px solid $table-border-mobile;
            }
            td.sub {
                text-align: center;
                border-bottom: 1px solid $table-border-mobile;
                padding: {
                    top: 10px;
                    bottom: 10px;
                }
            }

            tr td,
            tr th {
                padding: {
                    top: 7px;
                    bottom: 7px;
                }
            }

            .subTitle {
                font-weight: 700;
                text-align: center;
                padding-bottom: 10px;
            }
            /*
            td[colspan="2"] {
                border-bottom: 1px solid $table-border;
            }
            */
        }
    }

    @media print {

        .table-desktop {
            display: block !important;
            border-bottom: 0;
            border-right: 0;
            width: 100%;

            th {
                border: 1px solid $table-border;
                &:last-of-type {
                    border-right: 1px solid $table-border;
                }
            }
            td {
                &:last-of-type {
                    border-right: 1px solid $table-border;
                }
            }
        }

        .table-mobile {
            display: none;
        }

    }
}
