---
title: SchoolsFirst Modules
---

<!-- Breadcrumb -->
<%= partial "/modules/_g3" %>

<!-- Header Bar -->
<%= partial "/modules/_g4" %>

<!-- Content Columns -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <!-- Content -->
                <%= partial "/modules/_m8" %>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 aside">
                <%= partial "/modules/_sidebar" %>
            </div>
        </div>
    </div>
</section>
