---
title: SchoolsFirst Grid
---

<div class="container mt-3 mb-3" style="border: 1px solid hotpink;">
    <div class="row">
        <div class="col-lg-12 mt-3 mb-3 text-center">
            <h1>SCU Bootstrap Theme</h1>    
            <ul class="list-unstyled">
                <li>Bootstrap 4.3.1</li>
                <li>jQuery 3.4.1</li>
            </ul>
        </div>
    </div>
</div>

<%= partial "/modules/_grid" %>

<%= partial "/modules/_scu-theme" %>
