---
title: SchoolsFirst Modules
---

<!-- Hero -->
<div class="m1 m1b">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="auto">
                <!-- Desktop Message Box -->
                <div class="hero-message-box">
                    <h1>PRODUCTS & SERVICES</h1>
                    <div class="caption">
                        <span class="name">CHRISTINE B.</span>
                        <span class="position">ELEMENTARY SCHOOL TEACHER</span>
                        <span class="member">member since 2005</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Caption -->
    <div class="caption-mobile">
        <span class="name">CHRISTINE B.</span>
        <span class="position">ELEMENTARY SCHOOL TEACHER</span>
        <span class="member">member since 2005</span>
    </div>
    <!-- Hero Background Image -->
    <div class="hero-image" style="background-image: url('/images/hero-sub.jpg');"></div>
</div>


<!-- Content Columns -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <!-- Content -->
                <div class="m8">
                    <!-- M20 module wrapper inside of M8 container -->
                    <%= partial "/modules/_m11" %>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 aside">
                <%= partial "/modules/_sidebar-sticky" %>
            </div>
        </div>
    </div>
</section>
