---
title: SchoolsFirst Search Results Page
---

<!-- Header Bar -->
<div class="g4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h1>SEARCH RESULTS</h1>
            </div>
        </div>
    </div>
</div>

<!-- Content Columns -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <!-- Content -->
                <%= partial "/modules/_m15" %>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 aside">

            </div>
        </div>
    </div>
</section>

<!-- M7: Cross Sell -->
<%= partial "/modules/_m7" %>
