html {
    overflow-x: hidden;
}

body {
    font-weight: 400;
    background-color: #f3f4f4;
    overflow: hidden;
}

.bg_green {
    background: $background-green;
}

.bg_gray {
    background: $background-gray;
}

.bg_white {
    background: $white;
}

a.link {
    span {
        position: relative;
        top: 0;
    }
}

.hidden {
    display: none !important;
}

.image_fit {
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &.compat-object-fit {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        img {
            @include opacity(0);
        }
    }
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

@include media-breakpoint-down(sm) {
	.aligncenter,
	.alignright,
	.alignleft {
		width: 100%;
	}
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
