---
layout: module
title: SchoolsFirst - M11 Services List
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <!-- Content -->
                <div class="m8">
                    <%= partial "/modules/_m11" %>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 aside">

            </div>
        </div>
    </div>
</section>
