---
layout: module
title: SchoolsFirst - M8 Videos
---

<!-- M8: Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <%= partial "/modules/_m18" %>
            </div>
            <div class="col-12 col-lg-4 col-xl-3">

            </div>
        </div>
    </div>
</section>
