---
layout: module
title: SchoolsFirst - M19 Profiles
---

<!-- M8: Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="m8">
                    <%= partial "/modules/_m19" %>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3">

            </div>
        </div>
    </div>
</section>
