---
layout: module
title: SchoolsFirst - M8 Content
---

<!-- M8: Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <%= partial "/modules/_m8" %>
            </div>
            <div class="col-12 col-lg-3">

            </div>
        </div>
    </div>
</section>
