---
layout: documentation
title: SchoolsFirst Website HTML Templates
---

<!-- Documentation Intro -->
<div class="doc_intro">
    <h1>SchoolsFirst Federal Credit Union</h1>
    <h2>Front-End Code Guide</h2>
</div>

<div class="doc_body">
    <div class="container">
        <!-- Modules Breakdown -->
        <div class="doc_list col-xs-12 col-sm-4 col-md-4">
            <ul>
                <li>
                    <strong>Sprint 1</strong>
                    <ul>
                        <li>G1: Header (BB)</li>
                        <li>G2: Footer (BB)</li>
                    </ul>
                </li>
                <li><br></li>
                <li>
                    <strong>Sprint 2</strong>
                    <ul>
                        <li>
                            <a href="/module/m1.html">M1 : Hero/Marquee</a>
                        </li>
                        <li>
                            <a href="/module/m1b.html">M1B : Hero/Marquee</a>
                        </li>
                        <li>
                            <a href="/module/m2.html">M2 : News & Rates</a>
                        </li>
                        <li>
                            <a href="/module/m3.html">M3: Highlight</a>
                        </li>
                        <li>
                            <a href="/module/m4.html">M4: Product Highlight</a>
                        </li>
                        <li>
                            <a href="/module/m5.html">M5 : Education</a>
                        </li>
                    </ul>
                </li>
                <li><br></li>
                <li>
                    <strong>Sprint 3</strong>
                    <ul>
                        <li>
                            <a href="/module/m6.html">M6 : Membership Spotlight</a>
                        </li>
                        <li>
                            <a href="/module/m7.html">M7 : Cross Sell</a>
                        </li>
                        <li>
                            <a href="/module/m8.html">M8 : Content</a>
                        </li>
                        <li>
                            <a href="/module/g3.html">G3 : Breadcrumbs</a>
                        </li>
                        <li>
                            <a href="/module/g4.html">G4 : Header Bar</a>
                        </li>
                    </ul>
                </li>
                <li><br></li>
                <li>
                    <strong>Sprint 4</strong>
                    <ul>
                        <li>
                            <a href="/module/sb1.html">SB1 : Links List</a>
                        </li>
                        <li>
                            <a href="/module/sb2.html">SB2 : Member Quote</a>
                        </li>
                        <li>
                            <a href="/module/sb4.html">SB4 : Content / Lists</a>
                        </li>
                        <li>
                            <a href="/module/m9.html">M9 : Disclosures</a>
                        </li>
                        <li>
                            <a href="/module/m14.html">M14 : Branch Wait Times</a>
                        </li>
                    </ul>
                </li>
                <li><br></li>
                <li>
                    <strong>Pages</strong>
                    <ul>
                        <li>
                            <a href="/pages/sprint-one.html">Home</a>
                        </li>
                        <li>
                            <a href="/pages/content-page.html">Content Page</a>
                        </li>
                        <li>
                            <a href="/pages/grid.html">Theme</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
