---
layout: documentation
title: SchoolsFirst Website HTML Templates
---

<!-- Documentation Intro -->
<div class="doc_intro">
    <h1>SchoolsFirst Federal Credit Union</h1>
    <h2>Front-End Code Guide</h2>
</div>

<div class="doc_body">
    <div class="container">
        <div class="row">
            <!-- Modules Breakdown -->
            <div class="doc_list col-xs-12 col-sm-4 col-md-4">
                <ul>
                    <li>
                        <strong>Sprint 1</strong>
                        <ul>
                            <li>G1: Header (BB)</li>
                            <li>G2: Footer (BB)</li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 2</strong>
                        <ul>
                            <li>
                                <a href="/module/m1.html">M1 : Hero/Marquee</a>
                            </li>
                            <li>
                                <a href="/module/m1b.html">M1B : Hero/Marquee</a>
                            </li>
                            <li>
                                <a href="/module/m2.html">M2 : News & Rates</a>
                            </li>
                            <li>
                                <a href="/module/m3.html">M3: Highlight</a>
                            </li>
                            <li>
                                <a href="/module/m4.html">M4: Product Highlight</a>
                            </li>
                            <li>
                                <a href="/module/m5.html">M5 : Education</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 3</strong>
                        <ul>
                            <li>
                                <a href="/module/m6.html">M6 : Membership Spotlight</a>
                            </li>
                            <li>
                                <a href="/module/m7.html">M7 : Cross Sell</a>
                            </li>
                            <li>
                                <a href="/module/m8.html">M8 : Content</a>
                            </li>
                            <li>
                                <a href="/module/g3.html">G3 : Breadcrumbs</a>
                            </li>
                            <li>
                                <a href="/module/g4.html">G4 : Header Bar</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 4</strong>
                        <ul>
                            <li>
                                <a href="/module/sb1.html">SB1 : Links List</a>
                            </li>
                            <li>
                                <a href="/module/sb2.html">SB2 : Member Quote</a>
                            </li>
                            <li>
                                <a href="/module/sb4.html">SB4 : Content / Lists</a>
                            </li>
                            <li>
                                <a href="/module/m9.html">M9 : Disclosures</a>
                            </li>
                            <li>
                                <a href="/module/m14.html">M14 : Branch Wait Times</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 5</strong>
                        <ul>
                            <li>
                                <a href="/pages/rates.html">Rates</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 6</strong>
                        <ul>
                            <li>
                                <a href="/module/m17-retirement-form.html">M17 : Retirement Consultation Form</a>
                            </li>
                            <li>
                                <a href="/module/m17-investment-form.html">M17 : Investment Consultation Form</a>
                            </li>
                            <li>
                                <a href="/module/m17-refer-friend-form.html">M17 : Refer a Friend Form</a>
                            </li>
                            <li>
                                <a href="/module/m17-find-dealer-form.html">M17 : Find a Dealer Form</a>
                            </li>
                            <li>
                                <a href="/module/m17-donations-form.html">M17 : Donations Form</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 7</strong>
                        <ul>
                            <li>
                                <a href="/module/m13.html">M13 : Contact Grid</a>
                            </li>
                            <li>
                                <a href="/module/g5.html">G5: Pagination</a>
                            </li>
                            <li>
                                <a href="/module/m18.html">M18: Videos</a>
                            </li>
                            <li>
                                <a href="/module/sb3.html">SB3: Sidebar Rates</a>
                            </li>
                            <li>
                                <a href="/module/m15.html">M15: Search Results</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Sprint 8</strong>
                        <ul>
                            <li>
                                <a href="/module/m19.html">M19 : Profiles</a>
                            </li>
                            <li>
                                <a href="/module/m11.html">M11 : Services list</a>
                            </li>
                            <li>
                                <a href="/module/sb5.html">SB5 : Sticky Nav</a>
                            </li>
                            <li>
                                <a href="/module/m16.html">M16 : Calculators Accordion</a>
                            </li>
                            <li>
                                <a href="/pages/email.html">Email Template</a>
                            </li>
                        </ul>
                    </li>
                    <li><br></li>
                    <li>
                        <strong>Pages</strong>
                        <ul>
                            <li>
                                <a href="/pages/sprint-one.html">Home</a>
                            </li>
                            <li>
                                <a href="/pages/content-page.html">Content Page</a>
                            </li>
                            <li>
                                <a href="/pages/rates.html">Rates</a>
                            </li>
                            <li>
                                <a href="/pages/contact-us.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="/pages/search.html">Search Results</a>
                            </li>
                            <li>
                                <a href="/pages/landing.html">Landing</a>
                            </li>
                            <li>
                                <a href="/pages/email.html">Email Template</a>
                            </li>
                            <li>
                                <a href="/pages/grid.html">Theme</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="doc_list col-xs-12 col-sm-4 col-md-4">
                <ul>
                    <li>
                        <strong>Training Videos</strong>
                        <ul>
                            <li>
                                <a href="/training/m1-hero-and-carousel.html">M1: Hero and Carousel</a>
                            </li>
                            <li>
                                <a href="/training/m2-news-and-rates.html">M2: News and Rates</a>
                            </li>
                            <li>
                                <a href="/training/m3-highlights.html">M3: Highlights</a>
                            </li>
                            <li>
                                <a href="/training/m4-product-highlights.html">M4: Product Highlights</a>
                            </li>
                            <li>
                                <a href="/training/m6-member-spotlight.html">M6: Member Spotlight</a>
                            </li>
                            <li>
                                <a href="/training/m7-cross-sell.html">M7: Cross Sell</a>
                            </li>
                            <li>
                                <a href="/training/m8-tables.html">M8: Tables</a>
                            </li>
                            <li>
                                <a href="/training/m8-styles.html">M8: Styles</a>
                            </li>
                            <li>
                                <a href="/training/m9-disclosures.html">M9: Disclosures</a>
                            </li>
                            <li>
                                <a href="/training/m10-calculators.html">M10: Calculators Widget</a>
                            </li>
                            <li>
                                <a href="/training/m12-rates-tables.html">M12: Rates Tables</a>
                            </li>
                            <li>
                                <a href="/training/m13-contact-tiles.html">M13: Contact Tiles</a>
                            </li>
                            <li>
                                <a href="/training/m16-calculators-accordions.html">M16: Calculators Accordions</a>
                            </li>
                            <li>
                                <a href="/training/m19-profile.html">M19: Profile</a>
                            </li>
                            <li>
                                <a href="/training/sb1-structured-list.html">SB1: Create and Add Structured List</a>
                            </li>
                            <li>
                                <a href="/training/sb2-structured-quote.html">SB2: Create and Add Structured Quote</a>
                            </li>
                            <li><br></li>
                            <li>
                                <a href="/training/product-detail.html">Product Detail</a>
                            </li>
                            <li>
                                <a href="/training/product-category.html">Product Category Page</a>
                            </li>
                            <li>
                                <a href="/training/contact-us.html">Contact Us</a>
                            </li>
                            <li>
                                <a href="/training/branch-details.html">Branch Details Page Content</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
